{% extends 'base.html' %} 

{% block isi %} 
{% load static %}

<h2 style="text-align: center; padding-top: 20px">Daftar Barang</h2>
<div class="text-center mb-3">
    <a href="/addbrg" class="btn btn-primary">Tambah Barang</a>
</div>

{% for message in messages %}
    {% if message %}
        <div class="alert alert-success">{{ message }}</div>
    {% endif %}
{% endfor %}

<div class="container">
    <div class="row justify-content-center">
        {% for barang in barangs %}
        <div class="col-md-4 mb-3">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="card-title text-center">
                        <a href="{% url 'ubah_brg' barang.id %}">{{ barang.kodebrg }}</a>
                    </h5>
                    <p class="card-text">
                        {% if barang.imagebrg %}
                            <img src="{{ barang.imagebrg.url }}" alt="{{ barang.namabrg }}" class="img-fluid" width=500 >
                        {% else %}
                            <img src="{% static 'placeholder.svg' %}" alt="Placeholder Image" class="img-fluid">
                        {% endif %}
                    </p>
                    <p class="card-text">Nama: {{ barang.namabrg }}</p>
                    <p class="card-text">Stok: {{ barang.stokbrg }}</p>
                    <p class="card-text">Harga: Rp.{{ barang.hargabrg }}</p>
                    
                    <p class="card-text">Jenis: {{ barang.jenis_id.nama }}</p>
                    <div class="text-center">
                        <button type="button" class="btn btn-danger text-center-button" data-bs-toggle="modal" data-bs-target="#hapus-{{ barang.id }}">
                            Hapus
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="hapus-{{ barang.id }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Konfirmasi Penghapusan</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        Apakah Anda yakin ingin menghapus {{ barang.namabrg }}?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Batal</button>
                        <a href="{% url 'hapus_brg' barang.id %}" class="btn btn-danger">Yakin</a>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>



{% endblock %}
